<!DOCTYPE html>
{% load static %}
<html lang="bg">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ReFinder – Вход</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login_register.css' %}">
</head>
<body>
  <div class="container">
    <h2>Вход</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Потребителско име" required />
      <input type="password" name="password" placeholder="Парола" required />
      <button type="submit">Влез</button>
    </form>
    <div class="toggle">
      <span>Нямаш акаунт? <a href="{% url 'register' %}">Регистрирай се</a></span>
    </div>
  </div>
</body>
</html>
